<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/node.svg" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/essentials.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Are you sure you want to delete this message?</h3>
    <div class="grid-item">
      <div><%= message.message %></div>

      <!-- message details -->
      <div>
        <%= message.first_name %> <%= message.last_name %> at <%=
        message.message_date %>, <%= message.message_time %>
      </div>
    </div>
    <form action="/<%= message.msg_id %>/delete" method="POST">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
