<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/node.svg" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/essentials.css" />
    <link rel="stylesheet" href="/folders.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <nav>
      <a href="/<%= folderId %>/upload"><button>Upload File</button></a>
      <a href="/<%= folderId %>/create"><button>Create Folder</button></a>
      <a href="/logout"><button>Log Out</button></a>
    </nav>
    <!-- <h3>
      Welcome <%= currentUser.uname %>! You've visited our root page <%= views
      %> times!
    </h3> -->

    <div class="files-grid">
      <div class="grid-header">Name</div>
      <div class="grid-header">Type</div>
      <div class="grid-header">Size</div>
      <!-- <div class="grid-header">Created At</div> -->
      <div class="grid-header">Actions</div>

      <% if (root.parentId) { %>
      <a href="/<%= root.parentId %>/folder"
        ><div class="grid-item name">..</div></a
      >
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <!-- <div class="grid-item"></div> -->
      <div class="grid-item">
        <div class="action-buttons"></div>
      </div>
      <% } %> <% root.subFolders.forEach(folder => { %>
      <a href="/<%= folder.id %>/folder"
        ><div class="grid-item name"><%= folder.name %></div></a
      >
      <div class="grid-item">folder</div>
      <div class="grid-item">-</div>
      <!-- <div class="grid-item"><%= folder.createdAt %></div> -->
      <div class="grid-item">
        <div class="action-buttons">
          <!-- <form
            method="post"
            action="/folder/<%= currentUser.id %>/<%= folder.parentId %>/<%= folder.id %>/download"
            class="inline-form"
          >
            <button type="submit" class="delete-btn">
              <img src="/download.svg" alt="download" />
            </button>
          </form> -->
          <form
            method="post"
            action="/folder/<%= folder.id %>/delete"
            class="inline-form"
          >
            <button type="submit" class="delete-btn">
              <img src="/trash.svg" alt="delete" />
            </button>
          </form>
        </div>
      </div>
      <% }) %> <% root.files.forEach(file => { %>
      <div class="grid-item name"><%= file.name %></div>
      <div class="grid-item"><%= file.type %></div>
      <div class="grid-item"><%= file.size %> bytes</div>
      <!-- <div class="grid-item"><%= file.createdAt %></div> -->
      <div class="grid-item">
        <div class="action-buttons">
          <!-- <a href="<%= file.url %>">
            <button type="submit" class="download-btn">
              <img src="/download.svg" alt="download" />
            </button>
          </a> -->
          <form
            method="post"
            action="/file/<%= currentUser.id %>/<%= file.folderId %>/<%= file.id %>/download"
            class="inline-form"
          >
            <button type="submit" class="download-btn">
              <img src="/download.svg" alt="download" />
            </button>
          </form>

          <button
            class="copy-btn"
            data-url="<%= file.url %>"
            onclick="copyToClipboard(this)"
          >
            <img src="/copy.svg" alt="delete" />
          </button>

          <form
            method="post"
            action="/file/<%= file.id %>/delete"
            class="inline-form"
          >
            <button type="submit" class="delete-btn">
              <img src="/trash.svg" alt="delete" />
            </button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>

    <script>
      function copyToClipboard(clickedButtonEl) {
        // get the URL from the data attribute
        const urlToCopy = clickedButtonEl.getAttribute("data-url");

        // use the Clipboard API to copy the text
        navigator.clipboard.writeText(urlToCopy).then(
          () => {
            alert("URL copied to clipboard");
          },
          (err) => {
            alert("Failed to copy URL");
            console.log(err);
          }
        );
      }
    </script>
  </body>
</html>
