<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/node.svg" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/essentials.css" />
    <link rel="stylesheet" href="/form.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('partials/errors.ejs') %>
    <form action="/" method="POST">
      <fieldset>
        <label for="field1"
          >Field1:
          <input type="text" name="field1" id="field1" />
        </label>

        <label for="field2"
          >Select a genre:
          <select name="field2" id="field2">
            <option value="">Select</option>

            <% opts.forEach(opt => { %>
            <option value="<%= opts.key %>"><%= opts.key %></option>
            <% }) %>
          </select>
        </label>

        <label for="field2"
          >Message:
          <textarea
            name="field2"
            id="field2"
            rows="8"
            placeholder="Type your message here"
          ></textarea>
        </label>

        <button type="submit">Submit</button>
      </fieldset>
    </form>
    <a href="/"><button>Home</button></a>
  </body>
</html>
